body {
    background:#0a0f1f;
    color:white;
    font-family: Arial;
    margin:0;
}

.ticker {
    background:#111a2c;
    padding:12px;
    text-align:center;
    color:#9bb3d1;
    font-size:15px;
}

.container {
    max-width:900px;
    margin:40px auto;
    padding:20px;
}

.title {
    font-size:2.4rem;
    color:#6cb8ff;
    text-align:center;
}

.subtitle {
    text-align:center;
    color:#9bb3d1;
    margin-bottom:30px;
}

#chart {
    width:100%;
    height:350px;
    background:#081126;
    border-radius:10px;
    margin-bottom:30px;
}

#quoteBox, #newsFeed {
    background:#131b2e;
    padding:20px;
    border-radius:10px;
    margin-top:15px;
}
